#sjaApp {
    text-align: center;
}

div.panel-heading.good {
    background-color: green;
    background-image: none;
    color:white;
}
div.panel-heading.wrong {
    background-color: red;
    background-image: none;
    color:white;
}
div.panel.red {
    font-weight: bolder;
    color:red;
}
div.footer {
    position:fixed;
    left:0px;
    bottom:0px;
    height:70px;
    width:100%;
    background:#999;
    /*
    font-style: italic;
    font-weight: bold;
    */
}
span.red {
    font-weight: bolder;
    color: red;
}